@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-blue-zodiac: #141E55;
  --color-black-haze: #F1F2F2;
}

@font-face {
  font-family: 'Verlag-Light';
  src: url('./assets/fonts/Verlag-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Verlag-Bold';
  src: url('./assets/fonts/Verlag-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Verlag-Book';
  src: url('./assets/fonts/Verlag-Book.ttf') format('truetype');
}

body {
  font-family: 'Verlag-Light', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Verlag-Book', sans-serif;
}

.verlag-bold {
  font-family: 'Verlag-Bold', sans-serif;
}


